# markdown basics
## markdown basics
### markdown basics
* **ghdj**
* ***uigthj***
+ cfdj

* *maneesh
### pythonbasics
* python version 3.7
- functional programming
- object oriented programming
- scripting programming

In [1]:
print("Hello,Gitam")

Hello,Gitam

In [2]:
print("hyderabad")

hyderabad

In [9]:
print("Hello, gitam"," ||| ",end="")
print("Python programming")

Hello, gitam  ||| Python programming

In [11]:
n1 = 100 # single variable assignment
a = b = c = 20 # multi variable of the same value 
a1,b1,c1 =111,222,333, #multi variable assignment with different value
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [12]:
a=100;
s1 = "python"
s2 = "p"
f1 =10.2
print (a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [15]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a1))
f = 1.5
a1 = int (f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [16]:
# A number is given 1234
# Digit count
a1 = 1234
print (len(str(a1)))

4

In [17]:
# reading a value
# input ("message") --string

In [19]:
s1 = input("enter your name")
print(s1)
print(type(s1))

enter your nameDASARI MANEESH
DASARI MANEESH
<class 'str'>

In [20]:
# want a number as a input
n1 = int (input("enter a number"))
print(n1,type(n1))

enter a number1234
1234 <class 'int'>

## operators
* operator is a symbol use to perform a specific kind of operations
### Arithetic operators 
* +
* /
* -
* *
* %
* //

In [22]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1**10)

1244
1224
12340
123.4
4
8187505353567209228244052427776

In [23]:
print ("ghum musali")

ghum musali

In [ ]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10) #returns coefficient in float
print(n1//10)  #returns coefficient in int
print(n1%10) #returns coefficient in int
print(n1**10) #returns coefficient in power number

In [26]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10) 
print(n1//10)  
print(n1%10) 
print(n1**10)

1244
1224
12340
123.4
123
4
8187505353567209228244052427776

In [29]:
x=1 + 2 ** 3 / 4 + 5 
print (x)

8.0

In [30]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

## Relational operators 
* ==
* !=
* greater(>)
* lessthan(<)
* lessthan or equal(<=)
* greater than or equal (>=)

## Precedence of the Arth operators
* parenthesis
* power
* multiplication
* addition